/* body{
    background-color: black;
    color: #fff;
    min-height: 100vh;
    display: flex;justify-content: center;align-items: center;text-align: center;
}
header h1{
    animation: myfirst 5s linear 1s infinite alternate;
}
@keyframes myfirst {
   from{
    transform: scale(1);
   } to{
transform: scale(1.2);
    }
} */
*{
    margin: 0;padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.px-1{
    padding-inline: 1rem;
}
.px-2{
    padding-inline: 2rem;
}
.px-3{
    padding-inline: 3rem;
}
.py-1{
    padding-block: 1rem;
}
.py-2{
    padding-block: 2rem;
}
.py-3{
    padding-block: 3rem;
}
.fz-13{
    font-size: 13px;
}
.fz-24{
    font-size: 24px;
}


.d-flex{
    display: flex;
}

.d-in-flex{
    display: inline-flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.pos-rel{
    position: relative;
}
.pointer{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #fff;
}
.text-dark{
    color: #000000;
}
.header_topbar_wrapper{
    background: #0e1726;
    padding-block: .5rem;
}
.header_right_wrapper{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.inner_container {
    /* max-width: 1920px; */
    width: 97%;
    margin: 0 auto;}
    .header_topbar_wrapper .logo_image , .header_icon{
        max-width: 25px;
    padding-right: 0.8rem;
    font-size: 24px;
    color: #fff;
}
.logo_wrapper .site_title_wrapper{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e0e6ed!important;
    font-size: 24px;
    font-weight: 700;
}
.logo_wrapper{
    justify-content: flex-start;
    padding-right: clamp(10px,3vw,45px);
}
/* searchbar styling ======= */
.search-box{
    display: inline-flex;
    border-radius: 6px;
    align-items: center;
    background: rgba(81,83,101,.28);
  
  }
  .search-input{
    width: 300px;
    max-width: 30rem;
    border: none;
    border-radius: 0px 6px 6px 0;
    font-size: 14px;
    color: #fff;
    background: none;
    height: 36px;
  }
  .search-box svg{
  border-radius: 6px 0 0 6px;
  padding: .3rem .5rem;
  border: none;
  color:#888ea8;
  font-size: 14px;
  }
  .searchbar_wrapper.popup_search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 99;
    min-height: 60px;

  }
/* ==============sub header styling========== */
.sub_header_warapper{
    background-color: #fff;
    box-shadow: 0 0 10px 0 #00000030;
    padding-block: 1rem;
}

.sub_header_nav_item{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #515365;
}
.right_sub_header{
    margin-left: auto;
    display: flex;
    align-items: center;
}
select#subheader_settings_select {
    min-width: 150px;
    position: relative;
    padding: 9px 35px 10px 15px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}
/* ====================Header Fix============== */
header .main_header_inner_container{
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 9;
}
/* ====================sidebar============== */
.main_content_wrapper{
    margin-top: 120px;
}
.side_bar_icon{
    max-width: 20px;

}
.heading-list{
    color: #0e1726;
    font-size: 13px;
    font-weight: 400;
}
li.sidebar_item {
    padding: 0.5rem;
    border-radius: 6px;
    min-width: 200px;
    margin: .3rem 1rem;
}
li.sidebar_item.active , li.sidebar_item:hover {
    background: #fff;
    box-shadow: 0 0 10px 0px #00000040;
}
.sidebar_wrapper {
    max-width: 250px;
    background: #f1f2f3;
    position: relative;
}
.sidebar_inner_container {
    max-width: 250px;
    background: #f1f2f3;
    /* position: fixed; */
    left: 0;
    top: 115px;
    max-height: 100vh;
    overflow-y: overlay;
    z-index: -1;
}
ul.sidebar_items_main {
    border-right: 1px solid #e0e6ed;
}
/* ===========content styling chts================== */
.chart_wrapper , .row3_item {
    padding: .5rem;
}

.main_content_wrapper_charts{
    background-color: #f1f2f3;
    width: 100%;
}
.left_chart_wrapper{
    width: 70%;
}
.right_chart_wrapper{
    width: 30%;
}
.row3_item{
    width: 33%;
    padding: .5rem;
}
.row3_item img{
    width: 100%;
}
.row2_chart_inner .chart_wrapper{
width: 33%;
}
.chart_img{
    width: 100%;
    border-radius: 5px;
}
.recent_activity_inner{
    background: #fff;
        padding: 1rem;
    border-radius: 5px;
}
.text_card{
  font-family: Nunito,sans-serif;
  font-weight: 300;
  color:#515365;
    
}
.box_content_item_wrapper {
    display: flex;
    justify-content: space-between;
        padding-block: 0.5rem;
        color: #515365;
}
.box_content_item_wrapper:hover .card_status{
    opacity: 1;
}
.card_status {
    background-color: rgb(187, 138, 138);
    color: #fff;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 11px;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: 1s all ease;
}
@media screen and (max-width:800px) {
    .header_topbar_wrapper form.search-box.header , .site_title_wrapper , .sidebar_inner_container{
        display: none;
      }
      .sidebar_inner_container {
        position: fixed;
        z-index: 9;
        top: 0;
      }
      .main_content_wrapper{
        top: 0;
      }
}
@media screen and (min-width:801px) {
    .search-input-small , .header_icon.search{
 display: none;
    }
   
 }
 .sidebar_inner_container::-webkit-scrollbar {
    width: .3rem;
  }
   
  .sidebar_inner_container::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  .sidebar_inner_container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
